/* CSS pour l'impression */

#header{
    position: relative;
    text-align: center;
    width: 100%;
    display:block;
}


#footer{
    position:fixed;
    text-align: center;
    width: 100%;
    bottom : 0;
}


#menu, #banniere, #connexion, #formulaire_recherche_symptomes, #formulaire_recherche_pathos {
    display: none;
}

.rss_description a{
    display : none;
}


#introduction{
    display: block;
    text-align: center;
    width: 100%;
}


li {
    /*float: left;*/
    list-style-position: outside;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px; /* marges intérieures*/
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    background-color: transparent;
}

h2 {
    color: black;
    background-color: transparent;
}

a {
    text-decoration: none;
}

.connexion {
    display:inline-block;
    width: 42%;
    height: auto;
    vertical-align:top;
}

.inscription {
    display:inline-block;
    width: 54%;
    height: auto;
}

#formulaire ul li{
    list-style-type: none;
    margin-left: 10%;
    max-width: 90%;
    padding: 2px;

}

label{
    display: block;
    width: 55%;
    float: left;
}

#tab_res {
    border-collapse: collapse;
    width: 100%;
}

#tab_res th {
    background-color: #333;
    color : white;
    border-bottom: solid black 1px;
}

#tab_res tr{
    page-break-inside:avoid;
    page-break-after:auto
}

#tab_res td {
    border-bottom: solid black 1px;
}

/* Style pour la partie RSS */

.rss_article {
    margin-top: 2%;
    width : 100%;
    border: 1px solid black;
    border-radius: 10px;
    page-break-inside: avoid;
}

.rss_title .rss_description {
    position: relative;
    padding: 10px;
}

