/* CSS de la page inscription  */

.inscription > #formulaire  input[type="text"] {
    border-width: 1px;
}
.inscription > #formulaire input[type="text"]:optional {
    border-color: #008000;
}
.inscription > #formulaire input[type="text"]:required {
    border-color: #800000;
}